<section class="our-favorites section">
  <div class="container">
    <h2 class="title title-center">Some of Our Favorites</h2>
    <p class="section-description section-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="our-favorites-list list">
      <li class="our-favorites-item">
        <img
          class="our-favorites-img"
          src="./images/favorite/gamburger.jpg"
          alt="Gamburger"
          width="315"
          height="315"
        />
      </li>
      <li class="our-favorites-item">
        <img
          class="our-favorites-img"
          src="./images/favorite/pasta.jpg"
          alt="Pasta"
          width="315"
          height="315"
        />
      </li>
      <li class="our-favorites-item">
        <img
          class="our-favorites-img"
          src="./images/favorite/pizza.jpg"
          alt="Pizza"
          width="315"
          height="315"
        />
      </li>
      <li class="our-favorites-item">
        <img
          class="our-favorites-img"
          src="./images/favorite/chicken.jpg"
          alt="Chicken"
          width="315"
          height="315"
        />
      </li>
      <li class="our-favorites-item">
        <img
          class="our-favorites-img"
          src="./images/favorite/salat.jpg"
          alt="Salat"
          width="315"
          height="315"
        />
      </li>
      <li class="our-favorites-item">
        <img
          class="our-favorites-img"
          src="./images/favorite/borshch.jpg"
          alt="Borshch"
          width="315"
          height="315"
        />
      </li>
    </ul>
  </div>
</section>
