<!-- Page footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="footer-container">
          <a href="" class="footer-logo-link footer-logo"
            >
            <svg
                  class="logo-icon"
                  aria-label="icon logo"
                  width="64"
                  height="64"
                >
                  <use href="../img/icons.svg"></use>
                </svg>
            
            
            <img src="./images/vector.png" alt="logo"
          /></a>
          <ul class="footer-menu-list list">
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link link">Home</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link link">About</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link link">Service</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link link">Menu</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link link">Contact</a>
            </li>
          </ul>
          <div class="email">
            <form class="form-email">
              <label class="label-email">
                Subscribe
                <input
                  class="input-email"
                  type="email"
                  name="email"
                  placeholder="Enter your email"
                />
              </label>
              <button class="subscribe-btn" type="submit">Subscribe</button>
            </form>
            <div class="privat-policy">
              <p class="info-paragraph">By subscribing you agree to with our</p>
              <a href="" class="info-link">Privacy Policy</a>
            </div>
          </div>
        </div>
        <div class="info">
          <ul class="info-list list">
            <li class="info-item">
              <a href="" class="info-link">Privacy Policy</a>
            </li>
            <li class="info-item">
              <a href="" class="info-link">Terms of Service</a>
            </li>
            <li class="info-item">
              <a href="" class="info-link">Cookies Settings</a>
            </li>
          </ul>
          <p class="info-paragraph">2022 FoodSta. All right reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>