<header class="header">
    <div class="container header-container">
        <a href="" class="logo-link">
            <svg width="66" height="52" class="logo-icon">
                <use href="../img/hero-header-section2/sprite-icons.svg#icon-logo" alt="logo">

                </use>
            </svg>
        </a>

        <div class="wrap">
            <ul class="list menu-list">
                <li><a href="" class="link menu-link current-link">Home</a></li>
                <li><a href="" class="link menu-link">About</a></li>
                <li><a href="" class="link menu-link">Service</a></li>
                <li><a href="" class="link menu-link">Menu</a></li>
                <li><a href="" class="link menu-link">Contact</a></li>
            </ul>

            <button type="button" class="button btn-main">Order Now</button>
        </div>
    </div>
</header>