<section class="hero">
  <div class="container hero-wrap">
    <div class="hero-container">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button class="button btn-main" type="button" data-modal-open>
        Order Now
      </button>
    </div>

    <div class="hero-container container-slide">
      <ul class="list list-img-slide ">
        <li class="img-item">
          <a href="" class="link-img-slide">
            <img
              src="../img/hero-header-section2/hero-1.jpg"
              alt=""
              width="511"
              height="511"
              class="hero-img"
            />
          </a>
        </li>
        <li class="img-item img-slide-first is-hidden">
          <img
            src="../img/hero-header-section2/hero-2.jpg"
            alt=""
            width="511"
            height="511"
            class="hero-img"
          />
        </li>
        <li class="img-item img-slide-second is-hidden">
          <img
            src="../img/hero-header-section2/hero-3.jpg"
            alt=""
            width="511"
            height="511"
            class="hero-img"
          />
        </li>
      </ul>

      <button class="btn-hero-left btn-hero">
        <svg width="16" height="30">
          <use href="../img/hero-header-section2/sprite-icons.svg#icon-vector-1"></use>
        </svg>
      </button>

      <button class="btn-hero-right btn-hero" type="button">
        <svg width="16" height="30">
          <use href="../img/hero-header-section2/sprite-icons.svg#icon-vector-2"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
