<!-- backdrop -->
<div class="backdrop" data-modal>
  <!-- <div class="backdrop is-hidden" data-modal> -->
  <div class="modal">
    <h2 class="visually-hidden">User contact form</h2>
    <p class="contact-form-header">Order Form</p>
    <form class="contact-form">
      <div class="contact-form-item">
        <label class="form-field" for="user-name">Name</label>
        <input
          class="contact-form-input"
          type="text"
          autofocus
          id="user-name"
          name="user-name"
          placeholder="Your name"
          required
          pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄʼ]+"
        />
      </div>

      <div class="contact-form-item">
        <label class="form-field-wrapper" for="user_phone">Phone number</label>
        <input
          class="contact-form-input"
          type="tel"
          id="user_phone"
          name="user_phone"
          required
          pattern="+[0-9]{2}([0-9]{3})[0-9]{3}[0-9]{2}[0-9]{2}"
          title="+38(0_ _) _ _ _   _ _   _ _"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
        />
      </div>

      <div class="contact-form-item">
        <label class="form-field-wrapper" for="user_email">E-mail</label>
        <input
          class="contact-form-input"
          type="email"
          id="user_email"
          name="user_email"
          required
          placeholder="example@gmail.com"
          title="example@gmail.com"
        />
      </div>

      <button type="submit" class="contact-form-btn">Send</button>
    </form>
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="10.76" height="10.76">
        <use href="./img/footer/icons.svg#icon-close-form"></use>
      </svg>
    </button>
  </div>
</div>
<script src="./js/modal.js"></script>
