<section class="apple-section">
    <div class="container apple-wrap">
        <div class="border-apple">
            <div class="offeings-apple-container">
                <img src="../img/hero-header-section2/apple.jpg" alt="apple" class="apple-img">
            </div>
        </div>
        <div class="apple-container">
            <h2 class="apple-title">What’s Special About Our Offerings</h2>
            <p class="apple-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum
                tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>

            <ul class="apple-list list">
                <li>
                    <div class="container-icon-apple">
                        <svg width="30" height="30">
                            <use href="../img/hero-header-section2/sprite-icons.svg#icon-rocket">

                            </use>
                        </svg>
                    </div>
                    <h3 class="apple-title-secondary">Fasest Delivery</h3>
                    <p class="apple-text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                        varius enim
                        in eros.</p>
                </li>
                <li>
                    <div class="container-icon-apple">
                        <svg width="30" height="30">
                            <use href="../img/hero-header-section2/sprite-icons.svg#icon-touch">

                            </use>
                        </svg>
                    </div>
                    <h3 class="apple-title-secondary">Easy To Order</h3>
                    <p class="apple-text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                        varius enim
                        in eros.</p>
                </li>
            </ul>
            <button type="button" class="button btn-second">Order Now</button>
        </div>
    </div>
</section>