<!-- OPINIONS -->
<section class="opinions section">
    <div class="container">
      <h2 class="title">What our Customers Say</h2>
      <p class="section-description opinions-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul class="opinions-list list">
        <li class="opinions-list-item">
          <div class="icon-container">
            <svg aria-label="five-stars" class="stars-icon" width="101" height="16">
              <use href="./img/stars.svg#icon-stars"></use>
            </svg>
          </div>
          <p class="comment-desc">“The Best app I have used to order food in a while, so many
            options to choose from too, I would recommend to a freind, No questions asked”
          </p>
          <div class="avatar-content">
            <img class="avatar" src="./img/avatar-1.jpg" alt="avatar" width="48" height="48">
            <div class="avatar-desc">
              <h3 class="avatar-name">Sumith Shah</h3>
              <p class="avatar-position">Some Dude</p>
            </div>
          </div>
        </li>
        <li class="opinions-list-item">
          <div class="icon-container">
            <svg aria-label="five-stars" class="stars-icon" width="101" height="16">
              <use href="./img/stars.svg#icon-stars"></use>
            </svg>
          </div>
          <p class="comment-desc">“The ease with which I can just go in and order what i want was amazing, It has
            been
            a very pleasant experience ordering from this app”
          </p>
          <div class="avatar-content">
            <img class="avatar" src="./img/avatar-2.jpg" alt="avatar" width="48" height="48">
            <div class="avatar-desc">
              <h3 class="avatar-name">Sumith Shah</h3>
              <p class="avatar-position">Some Dude</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- /OPINIONS -->