<!-- SUBSCRIPTION -->
<section class="subscription">
  <div class="container sub-wrap-container">
    <div class="sub-container">
      <h2 class="sub-title">Subscribe To Get Special Offers</h2>
      <p class="section-description sub-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius
        enim
        in eros elementum tristique.</p>
      <div class="sub-form-container">
        <form class="sub-form">
          <label class="sub-form-field">
            <input class="sub-form-input" type="email" name="user-email" placeholder="Enter your email" required>
          </label>
          <button class="button button-sub" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="banana-container">
      <img src="./img/banana.jpg" alt="banana" width="546" height="266">
    </div>
  </div>
</section>
<!-- /SUBSCRIPTION -->