/* ----------------- FAVORITES ----------------- */
.title-center {
    text-align: center;
}

.section-center {
    text-align: center;
    margin-bottom: 36px;
}

.our-favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.our-favorites-item {
    border: 15px solid var(--accent-color);
    border-radius: 197.5px;
    padding: 24px;
    transition: border-color var(--transition-dur-and-func);
}

.our-favorites-item:hover,
.our-favorites-item:focus {
    border-color: var(--first-color);
}

/* ----------------- /FAVORITES ----------------- */