/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./offerings.css');
@import url('./favorites.css');
@import url('./opinions.css');
@import url('./subscription.css');
@import url('./footer.css');

:root {
  --main-font-family: 'Roboto', sans-serif;
  --primary-text-color: #2c2c2c;
  --first-color: #bbf330;
  --secondary-color: ##7EB101;
  --accent-color: #ffe450;
  --background-color: #fefefe;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ----------------- COMPONENTS ----------------- */
.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* ----------------- /COMPONENTS ----------------- */

