/* -------------------SUBSCRIPTION-------------------- */
.subscription {
    padding-top: 89px;
    padding-bottom: 88px;
    background-color: var(--background-color);
}

.sub-wrap-container {
    display: flex;
    column-gap: 46px;
}

.title-sub {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    margin-top: 11px;
    margin-bottom: 28px;
}

.sub-desc {
    max-width: 656px;
    margin-bottom: 35px;
}

.sub-list {
    display: flex;
    gap: 21px;
    margin-bottom: 12px;
}

.enter-email {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
    background-color: var(--background-color);
    border-radius: 30px;
    border: 0.85px solid var(--accent-color);
    width: 395px;
    max-height: 42px;
    padding: 12px 57px 12px 11px;
    text-align: left;
    cursor: pointer;
    transition: border-color var(--transition-dur-and-func); 
}

.enter-email:hover,
.enter-email:focus {
    border-color: var(--first-color);
    color: var(--primary-text-color);
}

.button-sub {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--primary-text-color);
    border-radius: 30px;
    border: none;
    padding: 11px 22px;
    background-color: var(--first-color);
    transition: background-color var(--transition-dur-and-func);
}

.button-sub:hover,
.button-sub:focus {
background-color: var(--accent-color);
}
/* -------------------/SUBSCRIPTION-------------------- */